<div class="header-wrapper">
    <div class="logo-area">
        <img src="./../../assets/img/coconet-logo.png" alt="coconet">
    </div>
    <div class="right-header">
        <div class="left-menu-trigger">
            <span class="icon-top-nav-menu"></span>
        </div>
        <div class="user-info">
            <div class="user-bullet buyer">
                <span class="type">BUYER</span>
                <span>></span>
                <span class="role">SUPER ADMIN</span>
            </div>
        </div>
        <div class="flex1"></div>
    </div>

</div>