<div class="page-content">
    <div class="left-wrapper">
        <div class="left-inner-wrapper">
            <div class="score-area">
                <p>My Request Score</p>
                <div class="flex status-area">
                    <div class="status-wrapper border-div">
                        <span class="circle pending"></span> 10
                        <br>
                        <span class="status">Pending</span>
                    </div>
                    <div class=" status-wrapper border-div">
                        <span class="circle approved"></span> 105
                        <br>
                        <span class="status">Approved</span>
                    </div>
                    <div class="status-wrapper">
                        <span class="circle rejected"></span> 20
                        <br>
                        <span class="status">Rejected</span>
                    </div>
                </div>
            </div>
            <div class="filter-form">
                <div class="collapse-triger" (click)="iscollapsed = !iscollapsed">
                    <p>Search Indent Request</p>
                    <span class="toglge-icon icon-accordian-arrow" *ngIf="!iscollapsed"></span>
                    <span class="toglge-icon icon-dropdown-arrow" *ngIf="iscollapsed"></span>
                </div>
                <div class="form mt-3" *ngIf="!iscollapsed">
                    <div class="form-group">
                        <label class="form-label">Requested By</label>
                        <div class="custom-search">
                            <input class="form-control" type="text" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Select status</label>
                        <select class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Filter By Nature Request</label>
                        <select class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-link">Clear all</button>
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
            <div class="filter-list" [ngClass]="iscollapsed ? 'collapsed' : ''">
                <div class="list">
                    <div class="card-wrapper" (click)="selectreq(item)" [ngClass]="item.selected ? 'active' : ''"
                        *ngFor="let item of reqList">
                        <div class="flex justify-space-between mb-2">
                            <div class="bold">{{item.reqCode}}</div>
                            <div><span class="circle"
                                    [ngClass]="{'pending': item.status == 'pending', 'approved': item.status == 'approved', 'rejected': item.status == 'rejected'}"></span>
                            </div>
                        </div>
                        <div class="flex justify-space-between mb-2">
                            <span class="bold">{{item.empName}}</span>
                            <span class="date">{{item.createdDate}}</span>
                        </div>
                        <div>
                            <span>{{item.department}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-area">
        <div class="title">Request Details</div>
        <div class="info-wrapper">
            <div class="top flex">
                <div>
                    <div>
                        <div class="form-label mb-2">Req. Code</div>
                    </div>
                    <div class="req-code">{{selectedRreq.reqCode}}</div>
                </div>
                <div>
                    <div class="form-label mb-2">Name (Emp Code)</div>
                    <div class="flex">
                        <span class="avtar"></span>
                        <span class="bold">{{selectedRreq.empName}} ({{selectedRreq.empCode}})</span>
                    </div>
                </div>
                <div>
                    <div class="flex justify-center">
                        <span class="status mb-2"
                            [ngClass]="{'pending': selectedRreq.status == 'pending', 'approved': selectedRreq.status == 'approved', 'rejected': selectedRreq.status == 'rejected'}">{{selectedRreq.status}}</span>
                    </div>
                    <span class="form-label">{{selectedRreq.createdDate}} {{selectedRreq.createdTime}}</span>
                </div>
            </div>
            <div class="bottom flex">
                <div>
                    <div class="form-label mb-2">Reason of Req.</div>
                    <div class="bold">{{selectedRreq.reasonOfReq}}</div>
                </div>
                <div>
                    <div class="form-label mb-2">Department</div>
                    <div class="bold">{{selectedRreq.department}}</div>
                </div>
                <div>
                    <div class="form-label mb-2">Nature of Request</div>
                    <div class="bold">{{selectedRreq.natureOfReq}}</div>
                </div>
                <div>
                    <div class="form-label mb-2">TAT</div>
                    <div class="bold">{{selectedRreq.natureOfReq}}</div>
                </div>
            </div>
        </div>
        <div class="main-page">
            <p class="title">Product Ordered List({{selectedRreq.productList.length}})</p>
            <div class="mb-5">
                <table class="table custom-table product-table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>UOM</th>
                            <th>Indent Qty.</th>
                            <th>Approved Qty.</th>
                            <th>Doc</th>
                            <th>Estimate Rate</th>
                            <th>Estimate Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of selectedRreq.productList">
                            <td class="bold">{{item.productName}}<i class="icon-more-info ml-2"
                                    (click)="showInfo($event)"></i></td>
                            <td>{{item.uom}}</td>
                            <td>{{item.indentQty}}</td>
                            <td><input type="text"></td>
                            <td><i class="icon-doc"></i></td>
                            <td class="bold">{{item.estimateRate}}</td>
                            <td class="bold">{{item.estimatePrice}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="desc-tooltip arrow_box" id="desc-tooltip1" [ngClass]="isInfo ? 'show' : ''">
                    <div class="p-3">
                        <div class="flex">
                            <p class="flex1 bold">Product Description</p>
                            <div>
                                <i class="icon-close cursor" (click)="isInfo = false"></i>
                            </div>
                        </div>
                        <div class="body-text">
                            - Core i7 <br>
                            - 1TB Hard-disk <br>
                            - 8BG RAM
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="p-3">
                        Balance Qty. in inventory <span class="text-blue">2</span>
                    </div>
                </div>

            </div>
            <div class="comment-form flex">
                <div class="flex1 mr-4">
                    <div class="flex mb-3">
                        <div class="status-block approve mr-3 " [ngClass]="reqStatus == 'approve' ? 'active' : ''"
                            (click)="reqStatus = 'approve'">
                            <i class="icon-approve-tick mr-3"></i>
                            <span class="blank-circle mr-3"></span>
                            <div>Approve</div>
                        </div>
                        <div class="status-block reject ml-3" [ngClass]="reqStatus == 'reject' ? 'active' : ''"
                            (click)="reqStatus = 'reject'">
                            <i class="icon-close mr-3"></i>
                            <span class="blank-circle mr-3"></span>
                            <div>Reject</div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="Add Your Comment" rows="3"></textarea>
                </div>
                <div class="submit-area">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-area">
        <div class="widget-wrapper stat-widget">
            <div class="title flex justify-space-between">
                <p class="mb-0 bold">Budget</p>
                <i class="icon-more cursor"></i>
            </div>
            <div class="w-body">
                <div class="flex stat-wrapper">
                    <div class="graph"></div>
                    <div class="stats">
                        <div class="stat">
                            <div class="stat-circle blue"></div>
                            <div class="flex1">
                                <p class="amount">50,00,000.00</p>
                                <p class="desc">Overall Budget</p>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-circle sky-blue"></div>
                            <div class="flex1">
                                <p class="amount">32,97,000.00</p>
                                <p class="desc">Available Budget</p>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-circle orange"></div>
                            <div class="flex1">
                                <p class="amount">2,00,000.00</p>
                                <p class="desc">Estimate Request Cost</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-amount">
                    <p class="mb-2 bold amount">30,97,000.00</p>
                    <p class="desc">Post Order Amount</p>
                </div>
            </div>
        </div>
        <div class="widget-wrapper">
            <div class="title flex justify-space-between">
                <p class="mb-0 bold">widget</p>
                <i class="icon-more cursor"></i>
            </div>
            <div class="w-body"></div>
        </div>
    </div>
    <div class="timeline-area">
        <div class="timeline-wrapper">
            <p class="title text-center">TRACK ORDER</p>
            <div class="timeline">
                <div class="step completed">
                    <div class="circle">
                        <i class="icon-timeline-po-pending timeline-icon"></i>
                    </div>
                    <div class="status">Approval <br>Pending</div>
                </div>
                <div class="step active">
                    <div class="circle">
                        <i class="icon-timeline-po-pending timeline-icon"></i>
                    </div>
                    <div class="status">PO <br>Pending</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-po-created timeline-icon"></i>
                    </div>
                    <div class="status">PO <br>Created</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-po-approved timeline-icon"></i>
                    </div>
                    <div class="status">PO <br>Approved</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-delivery timeline-icon"></i>
                    </div>
                    <div class="status">Delivery</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-grn timeline-icon"></i>
                    </div>
                    <div class="status">GRN</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-invoice timeline-icon"></i>
                    </div>
                    <div class="status">Invoice</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-payment-Initiated timeline-icon"></i>
                    </div>
                    <div class="status">Payment <br>Initiated</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-payment-confrimed timeline-icon"></i>
                    </div>
                    <div class="status">Payment <br>Confirmed</div>
                </div>
                <div class="step">
                    <div class="circle">
                        <i class="icon-timeline-rating timeline-icon"></i>
                    </div>
                    <div class="status">Rating</div>
                </div>
            </div>
        </div>
    </div>
</div>